/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f2e0;
    color: #801515;
  }
  
  /* Header styles */
  header {
    background-color: #801515;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  header h1 {
    font-size: 28px;
  }
  
  /* Navigation styles */
  #homeNav {
    background-color: #444;
    padding: 10px;
    text-align: center;
  }

  #contact div {
    display: inline-flex;
    flex-wrap: wrap;

  }

  #homeNav ul {
    list-style: none;
    background-color: #ffffff;
  }
  
  #homeNav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #homeNav ul li a {
    color: #000000;
    padding: 5px 10px;
    text-decoration: underline;
  }

  #bethjamesphoto{
    width: 20%;
    height: 250px;
    padding-right: 2%;
  }

  #woodwardandparkerphoto{
    width: 20%;
    height: 250px;
    padding-right: 2%;
  }
  #bethjamesbio{
    display: flex;
  }

  #woodwardandparkerbio{
    display: flex;
  }
  /* Main content styles */
  .container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .hero {
    align-items: center;
  }
  #submitbutton {
   display: flex; 
  }

  .level {
    display: flex;
  }

  #dropdownContainer{
    display: flex;
    justify-content: center;
  }

  #dropdownContainer div{
    padding: .2%;
  }

#commentSubmission{
  display: flex;
}

.textarea{
  width: 500px
}
  #commentSubmission div{
    padding: 1% 5% 1% 0%;
  }
  /* Footer styles */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  /* Responsive styles */

  @media (max-width: 992px) {
    .container {
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  @media (max-width: 330px) {
      .container {
        padding: 10px;
      }
    }
  
    header h1 {
      font-size: 24px;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    footer {
      font-size: 14px;
    }

    #map {
      margin-bottom: 20px;
      padding: 10px;
  }
    #map {
      position:relative;
      top: 50%;
      left: 10%;
      width: 80%;
      height: 500px;
  }
  .leaflet-popup-content {
      margin: 5px;
  }
  .card {
      width: 250px;
      display: flex;
      align-items: center;
  }